# Ecommerce Amazon Sales Pandas Exercise

'Ecommerce Purchases': https://www.kaggle.com/code/vladmarascu/ecommerce-amazon-sales-pandas-exercise

In [3]:
import numpy as np
import pandas as pd

공유 폴더에서 `'Ecommerce Purchases'` 파일을 다운 받아 `data` 폴더에서 사용한다.

In [4]:
# 데이터를 읽는다 'data/Ecommerce Purchases'



# 데이터를 위에서 5개, 아래서 5개 츨력해 보자.

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

### 데이터 크기 살펴보기

`.shape` 이용

In [6]:
# shape 속성을 이용해 크기를 살펴보자.

Number of rows: 10000
Number of Column: 14

In [6]:
# info 를 사용해 데이터 크기를 살펴보자.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

### 결측 데이터 살펴보기

nan 이 있는가?

## Practice

1. 고객들의 평균 구매금액?
2. 최고구매금액과 최소구매금액?
3. 영어권 사용자의 구매금액의 평균?
4. 'job'이 'Lawyer'인 사람의 숫자?
5. Lot이 '90 WT'인 곳에서 구매한 사람의 구매금액은?
6. 카드회사가 'American Express'이고, 구매금액이 $95이상인 고객의 수는?
7. card 만료일이 2025년도인 카드를 소지한 구매자의 수?

### 고객들의 평균 구매금액?

In [7]:
#1. 고객들의 평균 구매금액?

50.347302

In [8]:
#2. 최고구매금액과

99.99

In [9]:
# 최소구매금액?

0.0

In [10]:
# 3. 영어권 사용자의 구매금액의 평균?

51.103014571949

In [11]:
# 4. 'job'이 'Lawyer'인 사람의 숫자?

30

In [12]:
# 5. Lot이 '90 WT'인 곳에서 구매한 사람의 구매금액은?

# df90 = df[df['Lot']== '90 WT']
# df90['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

In [13]:
# 6. 카드회사가 'American Express'이고, 구매금액이 $95이상인 고객의 수는?

39

In [14]:
# 7. card 만료일이 2025년도인 카드를 소지한 구매자의 수? #뒷 두자리

1033